*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;

  --link-color: rgb(234 88 12);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
:root {
  --background-color: rgb(245 245 244);
  --text-color: rgb(3 7 18);
  --light-switch: block;
  --dark-switch: none;
  --button-background-color: rgb(214 211 209);
}

[data-theme="dark"] {
  --background-color: rgb(28 25 23);
  --text-color: rgb(255 255 255);
  --light-switch: none;
  --dark-switch: block;
  --button-background-color: rgb(41 37 36);
}

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: inherit;

  transition: 500ms ease-in-out;

}
                           
.container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  text-align: center;
}

.page-title h1 {
    font-size: 2.5em;
}
