.progress-container {
    background-color: var(--background-color);
    width: 100%;
    height: .25rem;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
  }

.progress-bar {
    background-color: var(--link-color);
    height: .25rem;
}