footer {
    max-width: 1024px;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

footer hr {
    border-top-width: 0.05px;
}

.social-icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: .25rem;
    display: flex;
}

.social-icons a {
    padding: .5rem;
    display: inline-block;
    outline-offset: 1px;
    outline-width: 2px;
    outline-color: rgb(var(--color-accent));
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

.social-icons svg {
    fill: rgb(var(--color-text-base));
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    fill: #0000;
    stroke: currentColor;
    stroke-width: 2px;
    opacity: .9;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

@media (min-width: 767px) {
    .footer-bottom {
        flex-direction: row-reverse;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .social-icons a {
        padding: .25rem;
    }
    
}