.footer {
    max-width: 1024px;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}