.tag {
    color: inherit;
    text-decoration: inherit;
}

.tag span {
    color: var(--tw-ring-offset-color);
    font-size: .75rem;
    line-height: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: var(--tag-background-color);
    border-radius: .75rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: 700;
}