.go-back {
    cursor: pointer;
    white-space: nowrap;
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: #0000;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    color: var(--text-color);
}

.go-back:hover {
    color: var(--link-color);
}

.go-back svg {
    fill: var(--text-color);
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}